@model Shop.Models.CheckoutModel

@{
    Layout = null;
}

@foreach (var item in Model.Articles)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.Image" alt="article" height="56" width="56" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            <a class="btn btn-danger" data-url="@Url.Action("RemoveArticle", "Cart")" style="cursor: pointer" onclick="removeCart(this, @item.Id);">
                <span class="glyphicon glyphicon-shopping-cart"></span>Remove from cart
            </a>
        </td>
    </tr>
}

<tr><td></td><td></td><td></td><td><strong>SubTotal</strong></td><td>@Model.SubTotal.ToString("##.00")</td><td></td></tr>
<tr><td></td><td></td><td></td><td><strong>Total VAT</strong></td><td>@Model.TotalVAT.ToString("##.00")</td><td></td></tr>
<tr><td></td><td></td><td></td><td><strong>Total</strong></td><td>@Model.Total.ToString("##.00")</td><td></td></tr>
