@model Shop.Models.ArticleModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

<div class="modal-body">
    <dl class="dl-horizontal">
        
        <dd>
            <img src="@Model.Image" alt="article" height="192" width="192"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
           @Html.TextBoxFor(model => model.Quantity, new { id = "article-detail-" + Model.Id, type = "number", min = 1, @class = "form-control" })
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-success" data-dismiss="modal" data-url="@Url.Action("AddArticle", "Cart")" style="cursor: pointer" onclick="addCart(this, @Model.Id, true);return false;">
        <span class="glyphicon glyphicon-shopping-cart"></span>Add to cart
    </button>
</div>

