@model Webshop.Models.ArticleModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

<div class="modal-body">
    <dl class="dl-horizontal">
        
        <dd>
            <img src="@Model.Image" alt="article" height="192" width="192"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.EditorFor(modelItem => modelItem.Quantity)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addCart(@Model.Id, @Model.Quantity);">
        <span class="glyphicon glyphicon-shopping-cart"></span>Add to cart
    </button>
</div>

