@model IEnumerable<Webshop.Models.ArticleModel>

<h2>Articles</h2>
<hr />

<div class="container">
    <table class="table table-striped">
        <tr>
            <th style="width: 20px"></th>
            <th data-sortable="true" data-field="name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-sortable="true" data-field="value">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th data-sortable="true" data-field="dataCriacao">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th style="width: 120px"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer" onclick="showModal(this, @item.Id);">
                <td>
                    <a class="btn" data-url="@Url.Action("Details")" style="cursor: pointer" onclick="showModal(this, @item.Id);">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                </td>
                <td>
                    <a class="btn" data-url="@Url.Action("Details")" style="cursor: pointer" onclick="showModal(this, @item.Id);">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Add to cart
                    </a>
                </td>
            </tr>
        }
    </table>
</div>